.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book {
  width: 450px;
  max-width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.label-checkbox {
  height: 24px;
}
.icon {
  margin-right: 5px;
}
.icon-svg {
  stroke: plum;
}
.icon-svg.on {
  stroke: mediumspringgreen;
}
button:active,
label:active .icon,
.icon:active {
  transform: scale(0.9);
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked + .icon-checkbox .off {
  display: none;
}
input[type='checkbox']:not(:checked) + .icon-checkbox .on {
  display: none;
}
.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px 8px;
}
.toggle-all {
  flex-shrink: 0;
}
.input {
  flex-grow: 1;
  height: 40px;
  padding-left: 20px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}
.icon-add {
  stroke: mediumspringgreen;
}
.header,
.main {
  background-color: floralwhite;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 aqua;
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.no-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.list {
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  overflow-y: auto;
}
.list::-webkit-scrollbar {
  width: 8px;
  background-color: lavender;
  border-radius: 5px;
}
.list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: plum;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding: 2px 8px;
}
.item:hover {
  background-color: aliceblue;
}
.item:not(:hover) .edit,
.item:not(:hover) .delete {
  visibility: hidden;
}
.checkbox {
  flex-shrink: 0;
}
.item-text {
  flex-grow: 1;
  margin: 0 10px;
  padding: 4px 10px;
  font-size: 15px;
  color: midnightblue;
}
.item-text:focus {
  outline: 1px dashed plum;
}
.edit {
  flex-shrink: 0;
}
.delete {
  flex-shrink: 0;
}
.edit,
.delete {
  opacity: 0.7;
}
.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
}
.counter {
  width: 100px;
  padding-bottom: 2px;
  font-size: 13px;
  color: gray;
}
.filters {
  display: flex;
}
.filter {
}
.clear {
}
