* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: slateblue;
  background-image: radial-gradient(
      rgba(135, 208, 250, 0.1) 15%,
      transparent 16%
    ),
    radial-gradient(rgba(135, 208, 250, 0.05) 15%, transparent 16%);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
@media (max-width: 900px) {
  body {
    padding-top: 100px;
  }
}
::selection {
  color: #fff;
  background-color: slateblue;
}
button,
label {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.button {
  margin-left: 7px;
  padding: 2px 7px;
  color: deepskyblue;
  background-color: transparent;
  border: 1px solid deepskyblue;
  border-radius: 2px;
}
.button.active,
.button:hover {
  color: honeydew;
  background-color: deepskyblue;
}
